body {
  background-color: white;
  font-size: 1.5vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Pretendard-Regular";
}
* div {
  cursor: default;
}
* a {
  color: #000;
}

:root {
  --basic-padding: 100px;
  --basic-min-padding: 50px;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
header {
  width: 100%;
  height: 7vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  border-bottom: 3px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1vw;
}
header h1 {
  font-size: 1.1vw;
  font-weight: normal;
  padding-left: 30px;
}
header ul {
  display: flex;
  padding-right: 30px;
}
header ul a {
  padding: 10px;
}
header ul a:hover {
  text-decoration: underline;
}

#slider {
  width: 100%;
  height: 100vh;
  background-image: url(../img/design-bg-1.png);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#slider-character {
  width: 15vw;
  position: relative;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);
}
#slider::before {
  content: "";
  width: 15vw;
  height: 15vw;
  background-color: #e28695;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
}

.section {
  width: 60%;
  height: auto;
  margin: 0 auto;
}
.section-one {
  width: 100%;
  height: auto;
  padding-top: var(--basic-padding);
  margin-top: var(--basic-min-padding);
}
.section-one h1 {
  width: 92%;
  font-weight: normal;
  font-size: 1.5vw;
}
.section-one h1 span {
  background-color: rgba(226, 134, 149, 0.3);
}
.section-two {
  width: 100%;
  height: auto;
  margin-top: var(--basic-min-padding);
  padding-top: var(--basic-padding);
  display: flex;
  flex-flow: column;
}
.section-two-show {
  width: 100%;
  height: auto;
  font-size: 1.5vw;
  font-weight: bold;
  border-bottom: 3px solid #eee;
  padding-bottom: 10px;
}
.section-two-about {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.section-two-about h1 {
  font-weight: normal;
  font-size: 1.5vw;
  padding: 5px;
}
.section-two-about h1 span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.section-two-about h1 .otherskils {
  color: #9e9e9e;
}
.section-three {
  width: 100%;
  height: auto;
  margin-top: var(--basic-min-padding);
  padding-top: var(--basic-padding);
}
.section-three-1 {
  margin-top: var(--basic-min-padding);
}
.section-three-2, .section-three-3 {
  margin-top: 20px;
}
.section-three img {
  width: 100%;
}
.section-three h1 {
  font-size: 1.3vw;
  font-weight: normal;
  padding: 5px;
}
.section-three p {
  font-size: 1.5vw;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #eee;
}
.section-four {
  width: 100%;
  height: auto;
  margin-top: var(--basic-min-padding);
  padding-top: var(--basic-padding);
}
.section-four span {
  font-size: 3vw;
}
.section-four h1 {
  font-size: 1.5vw;
}
.section-four-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: var(--basic-min-padding);
}
.section-four-1 img {
  width: 7vw;
}
.section-four-2 {
  padding-top: 40px;
}
.section-four-2 h1 {
  font-size: 1.3vw;
  font-weight: normal;
  padding: 5px;
}
.section-five {
  width: 100%;
  height: auto;
  padding-top: var(--basic-padding);
  margin-top: var(--basic-min-padding);
}
.section-five span {
  font-size: 3vw;
}
.section-five h1 {
  font-size: 1.5vw;
}