@charset "UTF-8";

body{
    background-color: white;
    font-size: 1.5vw;
    overflow-x: hidden;
}
*{
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Pretendard-Regular';

    div{
        cursor: default;
    }
    a{
        color: #000;
    }
}
:root{
    --basic-padding: 100px;
    --basic-min-padding: 50px;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

header{
    width: 100%; height: 7vh;
    background-color: rgba(255, 255, 255, 0.5);
    position:sticky; z-index: 1; top:0;
    border-bottom: 3px solid #eee;
    display: flex; justify-content: space-between; align-items: center;
    font-size: 1.1vw;

    h1{
        font-size: 1.1vw; font-weight: normal;
        padding-left: 30px;
    }
    ul{
        display: flex;
        padding-right: 30px;

        a{  
            padding: 10px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

#slider{
    width: 100%; height: 100vh;
    background-image: url(../img/design-bg-1.png);
    background-size: cover;
    background-attachment: fixed;
    position:relative;

    &-character{
        width: 15vw;
        position:relative; top: 85%; left: 50%;
        transform: translate(-50%, 0);
    }
    &::before{
        content: "";
        width: 15vw; height: 15vw;
        background-color: rgba(226, 134, 149, 1);
        position: absolute; top: 85%; left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50%;
    }
}

.section{
    width: 60%; height: auto;
    margin: 0 auto;

    &-one{
        width: 100%; height: auto;
        padding-top: var(--basic-padding);
        margin-top: var(--basic-min-padding);
        h1{
            width: 92%;
            font-weight: normal; font-size: 1.5vw;

            span{
                background-color: rgba(226, 134, 149, 0.3);
            }
        }
    }
    &-two{
        width: 100%; height: auto;
        margin-top: var(--basic-min-padding);
        padding-top: var(--basic-padding);
        display: flex; flex-flow: column;

        &-show{
            width: 100%; height: auto;
            font-size: 1.5vw; font-weight: bold;
            border-bottom: 3px solid #eee;
            padding-bottom:10px;
        }
        &-about{
            display: flex; justify-content: space-between;
            padding: 20px;

            h1{
                font-weight: normal; font-size: 1.5vw;
                padding: 5px;
                
                span:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
                .otherskils{
                    color: rgb(145, 145, 145);
                }
            }
        }
    }
    &-three{
        width: 100%; height: auto;
        margin-top: var(--basic-min-padding);
        padding-top: var(--basic-padding);
        
        &-1{
            margin-top: var(--basic-min-padding);
        }
        &-2, &-3{
            margin-top: 20px;
        }

        img{
            width: 100%;
        }
        h1{
            font-size: 1.3vw; font-weight: normal;
            padding: 5px;
        }
        p{
            font-size: 1.5vw; 
            padding: 5px;
            margin-bottom: 10px;
            background-color: #eee;
        }
    }
    &-four{
        width: 100%; height: auto;
        margin-top: var(--basic-min-padding);
        padding-top: var(--basic-padding);

        span{
            font-size: 3vw;
        }
        h1{
            font-size: 1.5vw;
        }
        &-1{
            display: flex; justify-content: space-evenly; align-items: center;
            padding-top: var(--basic-min-padding);
            img{
                width: 7vw;
            }
        }
        &-2{
            padding-top: 40px;
            h1{
                font-size: 1.3vw; font-weight: normal;
                padding: 5px;
            }
        }
    }

    &-five{
        width: 100%; height: auto;
        padding-top: var(--basic-padding);
        margin-top: var(--basic-min-padding);
        overflow: hidden;

        span{
            font-size: 3vw;
        }
        h1{
            font-size: 1.5vw;
        }
        img{
            width: 100%;
        }
        &-portfolio{
            display: flex; flex-flow: column;
            padding-top: var(--basic-min-padding);
            position:relative;

            p{
                font-size: 1.3vw;
                padding: 5px;
            }
            span{
                font-size: 1.3vw;
                background-color: rgba(226, 134, 149, 0.3);
            }
            #prev, #next{
                width: 5vw;
                position: absolute; z-index: 2;
                opacity: 0.9;
                cursor: pointer;
            }
            #prev{
                left: 0%; top: 26%;
                transform: rotate(180deg);
            }
            #next{
                right: 0%; top: 26%;
            }
        }
        .slide{
            width: 700%;
           
            display: flex;

            li{
                width: 100%;
            }
        }
        .portfolio-show{
            padding-top: 20px;
            pre{
                font-size: 1.3vw;
                letter-spacing: 3px;
                padding-bottom: 10px;
            }
            &-button{
                padding-top: 10px;
                button{
                    width: 6vw; height: 3vw;
                    cursor: pointer;
                    border: 0; 
                    background-color: rgba(226, 134, 149, 0.3);
                }
            }
        }
    }

    &-six{
        width: 100%; height: auto;
        padding-top: var(--basic-padding);
        margin-top: var(--basic-min-padding);

        span{
            font-size: 3vw;
        }
        h1{
            font-size: 1.5vw;
        }
    }
}

footer{
    width: 100%; height: 100vh;
    background-image: url(../img/contact.png);
    background-size: 100% 100%;
    padding-top: var(--basic-padding);
    margin-top: var(--basic-min-padding);
}