@charset "UTF-8";

body{
    background-color: white;
    overflow-x: hidden;
}
*{
    margin:0; padding:0;
    font-family: 'Pretendard-Regular';

    div{
        cursor: default;
    }
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.wrap{
    width: 100%;
    display: flex; justify-content: flex-end;
}

.section-1{
    width: calc(100% - 75%); height: 100%;
    position:fixed; left:0; top:0;
    background-color: #eee;
    display: flex; flex-flow: column; justify-content: center; align-items: center;

    h1{
        font-size: 1.5vw; font-weight: normal;
    }
}

.section-2{
    width: calc(100% - 25%); height: 100%;
    float: right;

    img{
        width: 100%; height: 100%;
    }
}

.ps1{
    width: 100%; height: 120vh;
    background-image: url(../img/KakaoTalk_Photo_2022-02-04-10-56-00-002.jpeg);
    margin-bottom: 5px;

    div{
        width: 100%; height: 100%;
        backdrop-filter: blur(10px);
        display: flex; align-items: center; justify-content: center;

        img{
            width: 50%; height: 50%;
        }
    }
}

.ps2{
    width: 100%; height: 120vh;
    background-image: url(../img/KakaoTalk_Photo_2022-02-04-10-56-00-005.jpeg);
    margin-bottom: 5px;

    div{
        width: 100%; height: 100%;
        backdrop-filter: blur(10px);
        display: flex; align-items: center; justify-content: center;

        img{
            width: 50%; height: 70%;
        }
    }
}

.ps3{
    width: 100%; height: 120vh;
    background-image: url(../img/KakaoTalk_Photo_2022-02-04-10-56-00-004.jpeg);

    div{
        width: 100%; height: 100%;
        backdrop-filter: blur(10px);
        display: flex; align-items: center; justify-content: center;

        img{
            width: 50%; height: 50%;
        }
    }
}